.about-section {
  padding: 0px 20px;
  text-align: center;
  color: #fafafa;
  background-color: #02192f; /* dark blue background color */
}

.about-title {
  font-size: 3rem;
  font-weight: bold;
  color: white;
  margin-bottom: 20px;
  position: relative;
}

.about-title::after {
  content: '';
  display: block;
  width: 60px;
  height: 5px;
  background-color: #ff4a56;
  margin: 10px auto 0;
}

.about-content {
  max-width: 800px;
  margin: 0 auto;
}

.about-description {
  margin-bottom: 0px;
}

.skills-title {
  font-size: 1.5rem;
  color: white;
  margin: 30px 0 10px;
}

.skills-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.skills-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}
