html, body {
  background-color: rgb(235, 234, 226);
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

canvas {
  display: block;
  width: 100%;
  height: 100vh;
}


.draw {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 2; /* Canvas is above the button */
  pointer-events: none; /* Ensure it doesn't block button interactions */
}

/* Styling for the button */
.home-container {
  position: relative;
  z-index: 1; /* Button is under the ParticleSlider */
}

.btn {
  position: relative;
  z-index: 3; /* Ensure the button is interactable */
  pointer-events: auto; /* Allow interaction on the button */
}

.btn-primary {
  z-index: 3; /* Keep button interactable */
}

