html, body {
  background-color: rgb(235, 234, 226);
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.home-container {
  margin: 0;
  padding: 0;
}


canvas {
  display: block;
  width: 100%;
  height: 100vh;
}


.draw {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 3; /* Canvas is above the button */
  pointer-events: none; /* Ensure it doesn't block button interactions */
}




.home-container {
  position: relative;
  z-index: 2; /* Ensure the button container is above the canvas */
}

.btn-primary {
  background-color: #557373; /* Muted teal */
  color: white; /* White text */
  padding: 15px 30px;
  font-size: 18px;
  border-radius: 5px;
  z-index: 1; /* Ensure the button is on top of the canvas */
  position: relative;

}



