.pixel-effect-container {
  position: relative;
  width: 100%;
  padding: 100px;
  height: 300vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Stack items vertically */
  overflow: hidden;

}

.pixel-canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  pointer-events: none; /* Ensure the canvas doesn't block interaction */
  
}



