.pixel-effect-container {
  position: relative;
  width: 100%;
  padding: 100px;
  height: 300vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Stack items vertically */
  overflow: hidden;

}

.pixel-canvas {
  display: block;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}




